/* assessment002 */
body{
    background: linear-gradient(to top, rgba(9, 9, 10, 0.877), rgba(9, 9, 10, 0.863)), url("Images/circuit.jpg"), no-repeat;
    background-size: cover;
    margin: -1% -1% -1% -0.1%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color:rgb(9, 12, 15);
    height: 100px;
    width: 100%;
    margin: 0px;
}
ul{
    padding-top: 1%;
}
 nav ul li a{
    display: inline-block;
    width: 100px;
    height: 20px;
    list-style: none;
    color: white;
    text-decoration: none;
    padding: 30px;
    margin-left: px
}
ul li{
    display: inline-block;
    width: 120px;
    height: 20px;
    list-style: none;
}
ul #righthead{
    display: inline-block;
}
ul li a{
    display: inline;
    color: white;
    text-decoration: none;
    padding: 30px;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    /* display: block; */
}
.signin{
margin-left: 40px
}
.signup{
    
}
.main{
    float: left;
    width: 580px;
    height: 100px;
    margin: 100px 30px 30px 30px;
    padding: 40px;
    font-family: helvetica;
}
aside div{
    background-color: white;
    border-radius: 5px;
    float: right;
    width: 400px;
    height: 550px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: left;
}
h6{
    margin: 10px;
    font-family: helvetica;
    font-size: 13px;
    font-weight: 100;
    color: rgb(159, 161, 164);
}
aside input{
    width: 350px;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    padding: 7px;
    font-size: 16px;
    font-family: helvetica;
    color: rgb(159, 161, 164);
    border-top: outset; 
    border-left: outset;
}
small{
    color: rgb(159, 161, 164);
    font-size: 12px;
    margin-left: 10px;
    text-align: justify;
}
small a{
    text-decoration: none;
    color: rgb(14, 102, 212);
}
aside button{
    width: 370px;
    height: 60px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 7px;
    font-size: 16px;
    font-family: helvetica;
    background-color: rgb(42, 187, 81);
    color: white;
    font-weight: 400;
}
/* span{
    color: rgb(211, 35, 140);
} */
h1{
    font-size: 62px;
    color: white;
}
p{
    font-size: 25px;
    color: rgb(141, 141, 141);
}
a {
    text-decoration: none;
    color: white;
}